<?xml version="1.0" encoding="UTF-8"?>
xsl:stylesheet(version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform")
  xsl:output(version='1.0' encoding='UTF-8' indent='yes' omit-xml-declaration="yes")/
  xsl:template(match="//db")
    head
      title Working Experiences - Giovanni Rodighiero Resume
      meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
      meta(name="title" content="Giovanni Rodighiero Resume - Working Experiences")/
      meta(name="description" content="Anagraphic Informations of the website that presents Giovanni Rodighiero's resume.")/
      meta(name="keywords" content="Anagraphic Informations, Birth, Address, Giovanni, Rodighiero, Resume, Curriculum Vitae, Experience, Education")/
      meta(name="author" content="Giovanni Rodighiero")/
      meta(name="language" content="english en")/
      link(rel="stylesheet" type="text/css" href="../../../public_html/styles/main.min.css" media="screen")/
      link(rel="stylesheet" type="text/css" href="../../../public_html/styles/print.min.css" media="print")/
    body
      div(id="working")
        div(id="header")
          h1
            span(xml:lang="it") Giovanni Rodighiero,
            span(class="subtitle") Personal Resume
        div(id="path")
          p
            a(href="/cgi-bin/pages/public/home.cgi") Home
            span(class="active") / Working Experiences
        div(id="nav")
          h2 Resume Pages:
          ul
            li
              a(href="/cgi-bin/pages/public/home.cgi") Overview
            li
               a(href="anagraphic.cgi") Anagraphical Informations
            li
              a(href="studyTitles.cgi") Study Titles and Education
            li
              span(class="active") Working Experience
            li
              a(href="contacts.cgi") Contacts and Socials
        div(id="content")
          div(class="box-full")
            xsl:apply-templates(select="working")/
        div(id="footer")
          a(href="login.cgi" class="admin") Admin area
          p(class="copyright") Copyright (c) 2016 Copyright Holder All Rights Reserved.
  xsl:template(match="working")
    h2(class="page-title") Working Experiences
    ul
      xsl:for-each(select="item")
        xsl:sort(select="position()" data-type="number" order="descending")/
        li
          div(class="item")
            p(class="titleName")
              xsl:value-of(select="role")
            div
              span(class="key") From
              span(class="value")
                xsl:value-of(select="begin")/
              span(class="key") To
              span(class="value")
                xsl:value-of(select="end")/
            div
              span(class="key") Company
              p(class="value")
                xsl:value-of(select="company")
