<?xml version="1.0" encoding="UTF-8"?>
xsl:stylesheet(version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform")
  xsl:output(version='1.0' encoding='UTF-8' indent='yes' omit-xml-declaration="yes")/
  xsl:template(match="//db")
    head
      title Working Experiences - Giovanni Rodighiero Resume
      meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
      meta(name="viewport" content="width=device-width, initial-scale=1")/
      meta(name="title" content="Giovanni Rodighiero Resume - Working Experiences")/
      meta(name="description" content="Working Experiences of Giovanni Rodighiero.")/
      meta(name="keywords" content="Working, Experiences, Jobs, Company Giovanni, Rodighiero, Resume, Curriculum Vitae")/
      meta(name="author" content="Giovanni Rodighiero")/
      meta(name="language" content="english en")/
      link(rel="stylesheet" type="text/css" href="../../../public_html/styles/main.min.css" media="screen")/
      link(rel="stylesheet" type="text/css" href="../../../public_html/styles/print.min.css" media="print")/
    body
      div(id="working")
        div(id="header")
          h1
            span(xml:lang="it") Giovanni Rodighiero,
            span(class="subtitle") Personal Resume
        a(href="#content" class="skipMenu") Jump to the page content
        div(id="path")
          p
            a(href="home.cgi") Home
            span(class="active") / Working Experiences
        div(id="nav")
          h2 Resume Pages:
          ul
            li
              a(href="home.cgi" accesskey="o")
                span.accesskey O
                |verview
            li
               a(href="anagraphic.cgi" accesskey="a")
                 span.accesskey A
                 |nagraphical Informations
            li
              a(href="studyTitles.cgi" accesskey="s")
                span.accesskey S
                |tudy Titles and Education
            li
              span(class="active")
                span.accesskey W
                |orking Experience
            li
              a(href="skills.cgi" accesskey="k")
                |S
                span.accesskey k
                |ills and Languages
            li
              a(href="contacts.cgi" accesskey="c")
                span.accesskey C
                |ontacts and Socials
        div(id="content")
          div(class="box-full")
            xsl:apply-templates(select="working")/
        a.back-top(href="#content") Back to top

        div(id="footer")
          a(href="login.cgi" class="admin") Admin area
          p(class="copyright") Copyright (c) 2016 Copyright Holder All Rights Reserved.
  xsl:template(match="working")
    h2(class="page-title") Working Experiences
    ul
      xsl:for-each(select="item")
        xsl:sort(select="position()" data-type="number" order="descending")/
        li
          div(class="item")
            p(class="titleName")
              xsl:value-of(select="role")
            div
              span(class="key") From
              span(class="value")
                xsl:value-of(select="begin")/
              span(class="key") To
              span(class="value")
                xsl:value-of(select="end")/
            div
              span(class="key") Company
              p(class="value")
                xsl:value-of(select="company")
