<?xml version="1.0" encoding="UTF-8"?>
xsl:stylesheet(version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" )
  xsl:output(version='1.0' encoding='UTF-8' indent='yes' omit-xml-declaration="yes")/
  xsl:template(match="//db")
      head
        title Working Experiences Admin - Giovanni Rodighiero Resume
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
        meta(name="viewport" content="width=device-width, initial-scale=1")/
        meta(name="title" content="Giovanni Rodighiero Resume - Working Experiences")/
        meta(name="description" content="Working Experiences of Giovanni Rodighiero.")/
        meta(name="keywords" content="Working, Experiences, Jobs, Company Giovanni, Rodighiero, Resume, Curriculum Vitae")/
        meta(name="author" content="Giovanni Rodighiero")/
        meta(name="language" content="english en")/
        link(rel="stylesheet" type="text/css" href="../../../public_html/styles/main.min.css" media="screen")/
        link(rel="stylesheet" type="text/css" href="../../../public_html/styles/print.min.css" media="print")/
      body
        div(id="homepage")
          div(id="header")
            h1
              span(xml:lang="it") Giovanni Rodighiero,
              span(class="subtitle") Personal Resume
          a(href="#content" class="skipMenu") Jump to the page content
          div(id="path")
            p
              | Admin Panel
              a(href="home.cgi")  Home
              span(class="active") / Working Experiences
              div(id="nav")
                h2 Resume Pages:
                ul
                  li
                    a(href="home.cgi" accesskey="o")
                    span.accesskey O
                    |verview
                  li
                     a(href="anagraphic.cgi" accesskey="a")
                      |Edit
                      = ' '
                      span.accesskey A
                      |nagraphical Informations
                  li
                    a(href="studyTitles.cgi" accesskey="s")
                      |Edit
                      = ' '
                      span.accesskey S
                      |tudy Titles and Education
                  li
                    span(class="active")
                      |Edit
                      = ' '
                      span.accesskey W
                      |orking Experience
                  li
                    a(href="skills.cgi" accesskey="k")
                      |Edit S
                      span.accesskey k
                      |ills and Languages
                  li
                    a(href="contacts.cgi" accesskey="c")
                      |Edit
                      = ' '
                      span.accesskey C
                      |ontacts and Socials
          div(id="content")
            xsl:apply-templates(select="working")/
          a.back-top(href="#content") Back to top

          div(id="footer")
            a(href="logout.cgi" class="admin") Log out
            p(class="copyright") Copyright (c) 2016 Copyright Holder All Rights Reserved.
        script(type="text/javascript" src="../../../public_html/javascript/main.js" ) //


  xsl:template(match="working")
    div(id="modal-div")
      h2 Proceed with the deletion ?
      form(action="../../actions/destroy.cgi" method="post" class="inline")
        fieldset(id="modal" class="inline")
          button(type="submit" id="modal-submit") Confirm
      button(class="inline")
        <xsl:attribute name="onclick">return cancelModal("<xsl:value-of select="@id" />", "working");
        </xsl:attribute>
        | Cancel
    div
      h2(class="page-title") Working Experiences
      form(class="form" action="new.cgi" method="post")
        fieldset
          input(type="hidden" name="collection" value="working")
          button(type="submit") New Working Experience
    div(class="box-full")
      ul
        xsl:for-each(select="item")
          xsl:sort(select="position()" data-type="number" order="descending")/
          li
            div(class="item")
              p(class="titleName")
                xsl:value-of(select="role")
              div
                span(class="key") From
                span(class="value")
                  xsl:value-of(select="begin")/
                span(class="key") To
                span(class="value")
                  xsl:value-of(select="end")/
              div
                span(class="key") Company
                p(class="value")
                  xsl:value-of(select="company")

            form(class="form inline-form" action="edit.cgi" method="post")
              fieldset.
                <input type="hidden" name="collection" value="working"/>
                <input type="hidden" name="id" >
                  <xsl:attribute name="value">
                    <xsl:value-of select="@id" />
                  </xsl:attribute>
                </input>
                <input type="hidden" name="begin" >
                  <xsl:attribute name="value">
                    <xsl:value-of select="begin" />
                  </xsl:attribute>
                </input>
                <input type="hidden" name="end" >
                  <xsl:attribute name="value">
                    <xsl:value-of select="end" />
                  </xsl:attribute>
                </input>
                <input type="hidden" name="role" >
                  <xsl:attribute name="value">
                    <xsl:value-of select="role" />
                  </xsl:attribute>
                </input>
                <input type="hidden" name="company" >
                  <xsl:attribute name="value">
                    <xsl:value-of select="company" />
                  </xsl:attribute>
                </input>
                <button type="submit"> Edit </button>
            form(class="form inline-form" action="delete.cgi" method="post")
              <xsl:attribute name="onclick">return renderModal("<xsl:value-of select="@id" />", "working");
              </xsl:attribute>
              fieldset.
                <input type="hidden" name="collection" value="working"/>
                <input type="hidden" name="id" >
                  <xsl:attribute name="value">
                    <xsl:value-of select="@id" />
                  </xsl:attribute>
                </input>
                <input type="hidden" name="begin" >
                  <xsl:attribute name="value">
                    <xsl:value-of select="begin" />
                  </xsl:attribute>
                </input>
                <input type="hidden" name="end" >
                  <xsl:attribute name="value">
                    <xsl:value-of select="end" />
                  </xsl:attribute>
                </input>
                <input type="hidden" name="role" >
                  <xsl:attribute name="value">
                    <xsl:value-of select="role" />
                  </xsl:attribute>
                </input>
                <input type="hidden" name="company" >
                  <xsl:attribute name="value">
                    <xsl:value-of select="company" />
                  </xsl:attribute>
                </input>
                <button type="submit"> Delete </button>
