@import url(https://fonts.googleapis.com/css?family=Slabo+27px)

html
  font-family: 'Slabo 27px', serif
  body
    margin: 0
#modal-div
  display: none
h1
  font-size: 2.8em
#header
  text-align: center
  border-bottom: 1px solid #eee
  h1
    margin-bottom: 0.2em
    .subtitle
      color: grey
      font-size: 80%
#path
  margin-left: 1em
  .active
    font-weight: bold
#nav
  float: left
  width: 30%
  background-color: #eee
  margin-bottom: 2em
  h2
    text-align: center
  ul
    li
      margin: 1em
      background-color: white
      border-left: 3px solid #A9A9A9
      padding: 0.5em
      list-style: none
  border-right: 5px solid #eee
  border-bottom: 5px solid #eee
#footer
  clear: both
  background-color: #A9A9A9
  margin-top: 2em
  padding: 1em
  text-align: center
  color: white
  .admin
    float: right
.loginForm
  text-align: center
  fieldset
    border-width: 0px
    .group-input
      label
        display: block
        font-weight: bold
      input
        border: 0px
        border-bottom: 1px solid black
        padding: 0.5em
      button
        background-color: white
        border: 1px solid black
        padding: 0.5em
        &:hover
          cursor: pointer
      display: block
      margin: 1em
.back-home
  margin-left: 1em
  margin-top: 1em
  font-size: 110%
.error
  color: red
  text-align: center
  display: block
