@import url(https://fonts.googleapis.com/css?family=Slabo+27px)

html
  font-family: 'Slabo 27px', serif
  body
    margin: 0
#modal-div
  display: none
h1
  font-size: 3em
#header
  text-align: center
  border-bottom: 1px solid #eee
  h1
    margin-bottom: 0.2em
    .subtitle
      color: grey
      font-size: 80%
#path
  margin-left: 1em
  .active
    font-weight: bold
#nav
  float: left
  width: 20%
  background-color: #eee
  h2
    text-align: center
  ul
    li
      list-style: none
      padding-top: 10px
      padding-bottom: 10px
  border-right: 5px solid #eee
  border-bottom: 5px solid #eee
#footer
  background-color: #A9A9A9
  margin-top: 2em
  padding: 1em
  text-align: center
  color: white
  .admin
    float: right
