#content
  margin-left: 30%
  .image
    float: left
    margin-bottom: 1em
    padding-bottom: 1em
    img
      //width: 10em
  .box.right-box
    margin-left: 30%
    clear: none
  .box
    border-left: 3px solid #A9A9A9
    padding-left: 0.5em
    clear: left
    h2
      border-bottom: 1px solid #eee
    .key
      display: inline
    .value
      display: inline
      margin-left: 1em
      font-weight: bold
      font-size: 110%
    .studyTitle
      .titleName
        font-weight: bolder
        font-size: 110%
        margin-bottom: 0
      .infos
        margin-left: 2em
