doctype xml
db
  anagraphic
    item(id="1")
      fieldName First Name
      content
        span(xml:lang="it") Giovanni
    item(id="2")
      fieldName Surname
      content
        span(xml:lang="it") Rodighiero
    item(id="3")
      fieldName Date of Birth
      content 11/02/1993
    item(id="5")
      fieldName Address
      content Corso Padova 128
    item(id="6")
      fieldName City
      content
        span(xml:lang="it") Vicenza, VI
  studyTitles
    item(id="1")
      year 2012
      title High School Diploma
      school
        span(xml:lang="it") Ist. Mag. Farina
    item(id="2")
      year 2016
      title  Bachelor's Degree in Computer Science
      school
        | University of
        span(xml:lang="it")   Padova
  working
    item(id="1")
      begin June 2016
      end Current
      role Nodejs Developer
      company Develon S.r.l
  skills
    item(id="1")
      skillsName Nodejs (back-end and front-end)
      level Good
    item(id="2")
      skillsName HTML 5
      level Good
    item(id="3")
      skillsName Css
      level Good
    item(id="4")
      skillsName AngularJs
      level Good
  contacts
    item(id="1")
      contactName Email
      value giovanni.rodighiero@outlook.it
    item(id="2")
      contactName GitHub
      value(isLink="true") https://github.com/giovanniRodighiero/
