doctype xml
db
  anagraphic
    item(id="1")
      fieldName nome
      content Giovanni
    item(id="2")
      fieldName cognome
      content cognome
    item(id="3")
      fieldName nascita
      content 11/02/1993
    item(id="5")
      fieldName residenza
      content Corso Padova 128
    item(id="6")
      fieldName città
      content Vicenza, VI
  studyTitles
    item(id="1")
      year 2010
      title titolo 1
      school scuola
    item(id="2")
      year 2013
      title titolo 2
      school scuola
  working
    item(id="1")
      begin 2010
      end 2012
      role Student
      company University
    item(id="2")
      begin 2012
      end 2016
      role Web Developer
      company Develon S.r.l
  contacts
    item(id="1")
      contactName Email
      value giovanni.rodighiero@outlook.it
    item(id="2")
      contactName GitHub
      value(isLink="true") https://github.com/giovanniRodighiero/
