doctype xml
db
  anagraphic
    item(id="1")
      fieldName nome
      content Giovanni
    item(id="2")
      fieldName cognome
      content cognome
    item(id="3")
      fieldName nascita
      content 11/02/1993
    item(id="4")
      fieldName nascita
      content 11/02/1993
    item(id="5")
      fieldName residenza
      content Corso Padova 128
    item(id="6")
      fieldName città
      content Vicenza, VI
