doctype xml
db
  anagrafica
    item(itemName="nome") Giovanni
    item(itemName="cognome") Rodighiero
    item(itemName="nascita") 11/02/1993
    item(itemName="residenza") Corso Padova 128
    item(itemName="città") Vicenza, VI
