<?xml version="1.0" encoding="UTF-8"?>
xsl:stylesheet(version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform")
  xsl:output(version='1.0' encoding='UTF-8' indent='yes' omit-xml-declaration="yes")/
  xsl:template(match="/")
    html
      head
      body
        div(id="homepage")
          div(id="header")
            h1 Giovanni Rodighiero Resume
          div(id="nav")
            ul
              li
                a(href="#") Anagraphic
              li
                a(href="#") Study Titles
              li
                a(href="#") Working Experience
          div(id="content")
              h2 Anagraphic data
              ul
