<?xml version="1.0" encoding="UTF-8"?>
xsl:stylesheet(version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform")
  xsl:output(version='1.0' encoding='UTF-8' indent='yes' omit-xml-declaration="yes")/
  xsl:template(match="//db")
    head
      title HomePage - Giovanni Rodighiero Resume
      meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
      meta(name="title" content="Giovanni Rodighiero Resume - HomePage")/
      meta(name="description" content="HomePage of the website that presents Giovanni Rodighiero's resume.")/
      meta(name="keywords" content="Giovanni, Rodighiero, Resume, Curriculum Vitae, Experience, Education")/
      meta(name="author" content="Giovanni Rodighiero")/
      meta(name="language" content="english en")/
      link(rel="stylesheet" type="text/css" href="../../../public_html/styles/main.min.css" media="screen")/
      link(rel="stylesheet" type="text/css" href="../../../public_html/styles/print.min.css" media="print")/
    body
      div(id="homepage")
        div(id="header")
          h1
            span(xml:lang="it") Giovanni Rodighiero,
            span(class="subtitle") Personal Resume
        div(id="path")
          p
            span(class="active") Home
        div(id="nav")
          h2 More about:
          ul
            li
              a(href="/cgi-bin/pages/public/anagraphic.cgi") Anagraphic Informations
            li
              a(href="/cgi-bin/pages/public/studyTitles.cgi") Study Titles and Education
            li
              a(href="#") Working Experience
        div(id="content")
          div(class="image")
            img(src="../../../public_html/images/photo.png")
          div(class="box right-box")
            xsl:apply-templates(select="anagraphic")/
          div(class="box")
            xsl:apply-templates(select="studyTitles")/
        div(id="footer")
          a(href="login.cgi" class="admin") Admin area
          p(class="copyright") Copyright (c) 2016 Copyright Holder All Rights Reserved.
  xsl:template(match="anagraphic")
    h2 Anagraphic Informations
    ul
      xsl:for-each(select="item[position() < 6]")
        li
          div(class="item")
            span(class="key")
              xsl:value-of(select="fieldName")/
            p(class="value")
              xsl:value-of(select="content")/
    a(href="/cgi-bin/pages/public/anagraphic.cgi") Show all
  xsl:template(match="studyTitles")
    h2 Study titles and Education
    ul
      xsl:for-each(select="item[position() < 4]")
        xsl:sort(select="position()" data-type="number" order="descending")/
        li
          div(class="studyTitle")
            p(class="titleName")
              xsl:value-of(select="title")/
            div(class="infos")
              div
                span(class="key") Year of attainment
                p(class="value")
                  xsl:value-of(select="year")/
              div
                span(class="key") School
                p(class="value")
                  xsl:value-of(select="school")/

    a(href="/cgi-bin/pages/public/studyTitles.cgi") Show all
