form(action="edit.cgi" method="POST")
  label(for="item_name") item_name
  input(id="input" type="text" name="item_name" )
  label(for="input") text
  input(id="item_name" type="text" name="text" )
  button(type="submit") invia
